In [1]:
# Sử dụng data.frame() để tạo data frame 
# data.frame(col_name_1=vector_values,..)
# Ví dụ:
students_1 <- data.frame("name" =c('Hellen', 'Jolie', 'Kiwi', 'John', 'Mark','Tom'),
                        "age" = c(17,16,17,18,19,16),
                        "mark" = c(9,9,8,7.5,7.5,8),
                        stringAsFactors=FALSE
                        )

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [2]:
print(students_1)

    name age mark stringAsFactors
1 Hellen  17  9.0           FALSE
2  Jolie  16  9.0           FALSE
3   Kiwi  17  8.0           FALSE
4   John  18  7.5           FALSE
5   Mark  19  7.5           FALSE
6    Tom  16  8.0           FALSE

In [3]:
# Hoặc data.frame(vector1,vector2)
# Ví dụ: 
name <-c('Hellen', 'Jolie', 'Kiwi', 'John', 'Mark','Tom')
age <- c(17,16,17,18,19,16)
mark<- c(9,9,8,7.5,7.5,8)
students <- data.frame (name, age, mark, 
                       stringsAsFactors =FALSE)
print(students)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

    name age mark
1 Hellen  17  9.0
2  Jolie  16  9.0
3   Kiwi  17  8.0
4   John  18  7.5
5   Mark  19  7.5
6    Tom  16  8.0

In [4]:
#Xem cấu trúc của data frame bằng str()

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [5]:
str(students)

'data.frame':	6 obs. of  3 variables:
 $ name: chr  "Hellen" "Jolie" "Kiwi" "John" ...
 $ age : num  17 16 17 18 19 16
 $ mark: num  9 9 8 7.5 7.5 8

In [6]:
# Xem tóm tắt thống kê dữ liệu trong data frame với summary()
# Ví dụ:
print(summary(students))

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

     name                age             mark
 Length:6           Min.   :16.00   Min.   :7.500
 Class :character   1st Qu.:16.25   1st Qu.:7.625
 Mode  :character   Median :17.00   Median :8.000
                    Mean   :17.17   Mean   :8.167
                    3rd Qu.:17.75   3rd Qu.:8.750
                    Max.   :19.00   Max.   :9.000

In [7]:
# Trích xuất dữ liệu từ data frame
# get mark column as vector
print(students$mark)
# get 2 first rows
print(students[1:2,])
# get age column as data.frame
print(data.frame(students$age))
#get row3,5 & cilumns 1,2
print (students[c(3,5), c(1,2)])

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] 9.0 9.0 8.0 7.5 7.5 8.0
    name age mark
1 Hellen  17    9
2  Jolie  16    9
  students.age
1           17
2           16
3           17
4           18
5           19
6           16
  name age
3 Kiwi  17
5 Mark  19

In [8]:
# Mở rộng data frame
# Thêm cột: data_frame_name $ column_name
# Ví dụ"
students$class <- c("k256_S7N", "k256_C7N", "k256_S24", "k256_S7N", "k256_S24", "k256_C7N")

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [9]:
print(students)

    name age mark    class
1 Hellen  17  9.0 k256_S7N
2  Jolie  16  9.0 k256_C7N
3   Kiwi  17  8.0 k256_S24
4   John  18  7.5 k256_S7N
5   Mark  19  7.5 k256_S24
6    Tom  16  8.0 k256_C7N

In [10]:
# Mở rộng data frame
# Thêm cột: cbind(data_frame,data_frame_new) để nôi slaij thành 1 data frame cuối cùng
# Ví dụ:
df_POB <- data.frame("POB" = c("UK", "US", "EU", "UK", "US", "EU"))
students <- cbind(students,df_POB)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [11]:
print(students)

    name age mark    class POB
1 Hellen  17  9.0 k256_S7N  UK
2  Jolie  16  9.0 k256_C7N  US
3   Kiwi  17  8.0 k256_S24  EU
4   John  18  7.5 k256_S7N  UK
5   Mark  19  7.5 k256_S24  US
6    Tom  16  8.0 k256_C7N  EU

In [12]:
# Mở rộng data frame
# Thêm dòng: bằng cách tạo ra 1 data frame mới

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [13]:
new_students <- data.frame("name" = c('Sunny', 'Lucy'),
                          "age" = c(17,18),
                          "mark" = c(8,9),
                          "class" = c("k256_c7N", "k256_S24"),
                          "POB" = c("EU", "UK"),
                          stringsAsFactors = FALSE)

In [14]:
print(new_students)

   name age mark    class POB
1 Sunny  17    8 k256_c7N  EU
2  Lucy  18    9 k256_S24  UK

In [15]:
students <- rbind(students, new_students)

In [16]:
students

  name   age mark class    POB
1 Hellen 17  9.0  k256_S7N UK
2 Jolie  16  9.0  k256_C7N US
3 Kiwi   17  8.0  k256_S24 EU
4 John   18  7.5  k256_S7N UK
5 Mark   19  7.5  k256_S24 US
6 Tom    16  8.0  k256_C7N EU
7 Sunny  17  8.0  k256_c7N EU
8 Lucy   18  9.0  k256_S24 UK

In [17]:
#Thay đổi tên cột
# names(tên_dataframe)[names(tên_dataframe)=="tên_cột_cũ"] <- tên_cột_mới
# Ví dụ:
names(students)[names(students) =="POB"] < "Place _of_birth"

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

[1] FALSE

In [18]:
head(students)

  name   age mark class    POB
1 Hellen 17  9.0  k256_S7N UK
2 Jolie  16  9.0  k256_C7N US
3 Kiwi   17  8.0  k256_S24 EU
4 John   18  7.5  k256_S7N UK
5 Mark   19  7.5  k256_S24 US
6 Tom    16  8.0  k256_C7N EU

In [19]:
head(students)

  name   age mark class    POB
1 Hellen 17  9.0  k256_S7N UK
2 Jolie  16  9.0  k256_C7N US
3 Kiwi   17  8.0  k256_S24 EU
4 John   18  7.5  k256_S7N UK
5 Mark   19  7.5  k256_S24 US
6 Tom    16  8.0  k256_C7N EU