In [1]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
a = floor(runif(10,-10,10))
b = letters[4:13]
c = c('yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no')

In [3]:
df = data.frame(a,b,c)

In [4]:
df

   a  b c
1  -1 d yes
2  -6 e no
3  -6 f no
4  -7 g no
5   0 h no
6   7 i yes
7  -7 j no
8   1 k yes
9  -8 l yes
10 -6 m no

In [5]:
arrange(df, a)

   a  b c
1  -8 l yes
2  -7 g no
3  -7 j no
4  -6 e no
5  -6 f no
6  -6 m no
7  -1 d yes
8   0 h no
9   1 k yes
10  7 i yes

In [6]:
df[with (df, order(a)),]

   a  b c
9  -8 l yes
4  -7 g no
7  -7 j no
2  -6 e no
3  -6 f no
10 -6 m no
1  -1 d yes
5   0 h no
8   1 k yes
6   7 i yes

In [7]:
matrix.data = matrix(1:40, nrow = 10)
print(matrix.data)

      [,1] [,2] [,3] [,4]
 [1,]    1   11   21   31
 [2,]    2   12   22   32
 [3,]    3   13   23   33
 [4,]    4   14   24   34
 [5,]    5   15   25   35
 [6,]    6   16   26   36
 [7,]    7   17   27   37
 [8,]    8   18   28   38
 [9,]    9   19   29   39
[10,]   10   20   30   40

In [8]:
df2 = data.frame(matrix.data)
df2

   X1 X2 X3 X4
1   1 11 21 31
2   2 12 22 32
3   3 13 23 33
4   4 14 24 34
5   5 15 25 35
6   6 16 26 36
7   7 17 27 37
8   8 18 28 38
9   9 19 29 39
10 10 20 30 40

In [9]:
colnames(df2) = sub(' ','', paste('variable_', 1:ncol(df2)))
rownames(df2) = sub(' ','', paste('id_', 1:nrow(df2)))

In [10]:
df2

      variable_1 variable_2 variable_3 variable_4
id_1   1         11         21         31
id_2   2         12         22         32
id_3   3         13         23         33
id_4   4         14         24         34
id_5   5         15         25         35
id_6   6         16         26         36
id_7   7         17         27         37
id_8   8         18         28         38
id_9   9         19         29         39
id_10 10         20         30         40