In [8]:
df = data.frame(row.names = state.name, state.abb, state.area, state.division, state.region)
head(df)

           state.abb state.area state.division     state.region
Alabama    AL         51609     East South Central South
Alaska     AK        589757     Pacific            West
Arizona    AZ        113909     Mountain           West
Arkansas   AR         53104     West South Central South
California CA        158693     Pacific            West
Colorado   CO        104247     Mountain           West

In [9]:
colnames(df) = substr(colnames(df), 7,9)
df

               abb are    div                reg
Alabama        AL   51609 East South Central South
Alaska         AK  589757 Pacific            West
Arizona        AZ  113909 Mountain           West
Arkansas       AR   53104 West South Central South
California     CA  158693 Pacific            West
Colorado       CO  104247 Mountain           West
Connecticut    CT    5009 New England        Northeast
Delaware       DE    2057 South Atlantic     South
Florida        FL   58560 South Atlantic     South
Georgia        GA   58876 South Atlantic     South
Hawaii         HI    6450 Pacific            West
Idaho          ID   83557 Mountain           West
Illinois       IL   56400 East North Central North Central
Indiana        IN   36291 East North Central North Central
Iowa           IA   56290 West North Central North Central
Kansas         KS   82264 West North Central North Central
Kentucky       KY   40395 East South Central South
Louisiana      LA   48523 West South Central South
Maine          ME   33215 New England        Northeast
Maryland       MD   10577 South Atlantic     South
Massachusetts  MA    8257 New England        Northeast
Michigan       MI   58216 East North Central North Central
Minnesota      MN   84068 West North Central North Central
Mississippi    MS   47716 East South Central South
Missouri       MO   69686 West North Central North Central
Montana        MT  147138 Mountain           West
Nebraska       NE   77227 West North Central North Central
Nevada         NV  110540 Mountain           West
New Hampshire  NH    9304 New England        Northeast
New Jersey     NJ    7836 Middle Atlantic    Northeast
New Mexico     NM  121666 Mountain           West
New York       NY   49576 Middle Atlantic    Northeast
North Carolina NC   52586 South Atlantic     South
North Dakota   ND   70665 West North Central North Central
Ohio           OH   41222 East North Central North Central
Oklahoma       OK   69919 West South Central South
Oregon         OR   96981 Pacific            West
Pennsylvania   PA   45333 Middle Atlantic    Northeast
Rhode Island   RI    1214 New England        Northeast
South Carolina SC   31055 South Atlantic     South
South Dakota   SD   77047 West North Central North Central
Tennessee      TN   42244 East South Central South
Texas          TX  267339 West South Central South
Utah           UT   84916 Mountain           West
Vermont        VT    9609 New England        Northeast
Virginia       VA   40815 South Atlantic     South
Washington     WA   68192 Pacific            West
West Virginia  WV   24181 South Atlantic     South
Wisconsin      WI   56154 East North Central North Central
Wyoming        WY   97914 Mountain           West

In [10]:
df_new = cbind(state.x77, df) # can add directly with matrix
df_new

               Population Income Illiteracy Life Exp Murder HS Grad Frost
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Alaska           365      6315   1.5        69.31    11.3   66.7    152
Arizona         2212      4530   1.8        70.55     7.8   58.1     15
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
California     21198      5114   1.1        71.71    10.3   62.6     20
Colorado        2541      4884   0.7        72.06     6.8   63.9    166
Connecticut     3100      5348   1.1        72.48     3.1   56.0    139
Delaware         579      4809   0.9        70.06     6.2   54.6    103
Florida         8277      4815   1.3        70.66    10.7   52.6     11
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Hawaii           868      4963   1.9        73.60     6.2   61.9      0
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Illinois       11197      5107   0.9        70.14    10.3   52.6    127
Indiana         5313      4458   0.7        70.88     7.1   52.9    122
Iowa            2861      4628   0.5        72.56     2.3   59.0    140
Kansas          2280      4669   0.6        72.58     4.5   59.9    114
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Maine           1058      3694   0.7        70.39     2.7   54.7    161
Maryland        4122      5299   0.9        70.22     8.5   52.3    101
Massachusetts   5814      4755   1.1        71.83     3.3   58.5    103
Michigan        9111      4751   0.9        70.63    11.1   52.8    125
Minnesota       3921      4675   0.6        72.96     2.3   57.6    160
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
Montana          746      4347   0.6        70.56     5.0   59.2    155
Nebraska        1544      4508   0.6        72.60     2.9   59.3    139
Nevada           590      5149   0.5        69.03    11.5   65.2    188
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
New Jersey      7333      5237   1.1        70.93     5.2   52.5    115
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
New York       18076      4903   1.4        70.55    10.9   52.7     82
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
North Dakota     637      5087   0.8        72.78     1.4   50.3    186
Ohio           10735      4561   0.8        70.82     7.4   53.2    124
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
Oregon          2284      4660   0.6        72.13     4.2   60.0     44
Pennsylvania   11860      4449   1.0        70.43     6.1   50.2    126
Rhode Island     931      4558   1.3        71.90     2.4   46.4    127
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
Virginia        4981      4701   1.4        70.08     9.5   47.8     85
Washington      3559      4864   0.6        71.72     4.3   63.5     32
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
Wisconsin       4589      4468   0.7        72.48     3.0   54.5    149
Wyoming          376      4566   0.6        70.29     6.9   62.9    173
               Area   abb are    div                reg
Alabama         50708 AL   51609 East South Central South
Alaska         566432 AK  589757 Pacific            West
Arizona        113417 AZ  113909 Mountain           West
Arkansas        51945 AR   53104 West South Central South
California     156361 CA  158693 Pacific            West
Colorado       103766 CO  104247 Mountain           West
Connecticut      4862 CT    5009 New England        Northeast
Delaware         1982 DE    2057 South Atlantic     South
Florida         54090 FL   58560 South Atlantic     South
Georgia         58073 GA   58876 South Atlantic     South
Hawaii           6425 HI    6450 Pacific            West
Idaho           82677 ID   83557 Mountain           West
Illinois        55748 IL   56400 East North Central North Central
Indiana         36097 IN   36291 East North Central North Central
Iowa            55941 IA   56290 West North Central North Central
Kansas          81787 KS   82264 West North Central North Central
Kentucky        39650 KY   40395 East South Central South
Louisiana       44930 LA   48523 West South Central South
Maine           30920 ME   33215 New England        Northeast
Maryland         9891 MD   10577 South Atlantic     South
Massachusetts    7826 MA    8257 New England        Northeast
Michigan        56817 MI   58216 East North Central North Central
Minnesota       79289 MN   84068 West North Central North Central
Mississippi     47296 MS   47716 East South Central South
Missouri        68995 MO   69686 West North Central North Central
Montana        145587 MT  147138 Mountain           West
Nebraska        76483 NE   77227 West North Central North Central
Nevada         109889 NV  110540 Mountain           West
New Hampshire    9027 NH    9304 New England        Northeast
New Jersey       7521 NJ    7836 Middle Atlantic    Northeast
New Mexico     121412 NM  121666 Mountain           West
New York        47831 NY   49576 Middle Atlantic    Northeast
North Carolina  48798 NC   52586 South Atlantic     South
North Dakota    69273 ND   70665 West North Central North Central
Ohio            40975 OH   41222 East North Central North Central
Oklahoma        68782 OK   69919 West South Central South
Oregon          96184 OR   96981 Pacific            West
Pennsylvania    44966 PA   45333 Middle Atlantic    Northeast
Rhode Island     1049 RI    1214 New England        Northeast
South Carolina  30225 SC   31055 South Atlantic     South
South Dakota    75955 SD   77047 West North Central North Central
Tennessee       41328 TN   42244 East South Central South
Texas          262134 TX  267339 West South Central South
Utah            82096 UT   84916 Mountain           West
Vermont          9267 VT    9609 New England        Northeast
Virginia        39780 VA   40815 South Atlantic     South
Washington      66570 WA   68192 Pacific            West
West Virginia   24070 WV   24181 South Atlantic     South
Wisconsin       54464 WI   56154 East North Central North Central
Wyoming         97203 WY   97914 Mountain           West

In [11]:
# loai bo cot div
df_new$div = NULL

In [15]:
# tiep tuc loai bo cac cot Life exp, Hs grad, Frost, abb va are
df_new = subset(df_new, select = -c(4,6,7,9,10)) # neu select duong --> chon cot, am --> bo cot

In [16]:
head(df_new)

           Population Income Illiteracy Murder Area   reg
Alabama     3615      3624   2.1        15.1    50708 South
Alaska       365      6315   1.5        11.3   566432 West
Arizona     2212      4530   1.8         7.8   113417 West
Arkansas    2110      3378   1.9        10.1    51945 South
California 21198      5114   1.1        10.3   156361 West
Colorado    2541      4884   0.7         6.8   103766 West

In [17]:
df_new$Illiteracy.Levels = ifelse(df_new$Illiteracy < 1, 'Low',
                                 ifelse(df_new$Illiteracy < 2, 'Some', 'High'))

In [18]:
head(df_new)

           Population Income Illiteracy Murder Area   reg   Illiteracy.Levels
Alabama     3615      3624   2.1        15.1    50708 South High
Alaska       365      6315   1.5        11.3   566432 West  Some
Arizona     2212      4530   1.8         7.8   113417 West  Some
Arkansas    2110      3378   1.9        10.1    51945 South Some
California 21198      5114   1.1        10.3   156361 West  Some
Colorado    2541      4884   0.7         6.8   103766 West  Low

In [22]:
print(paste('Number of regions:', nlevels(df_new$reg), '. There are:', 
            toString(levels(df_new$reg))))

[1] "Number of regions: 4 . There are: Northeast, South, North Central, West"