In [1]:
library('tidyverse')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [5]:
data = data.frame(read_csv('Obesity_data.csv'))
class(data)

── Column specification ────────────────────────────────────────────────────────
cols(
  id = col_double(),
  gender = col_character(),
  height = col_double(),
  weight = col_double(),
  bmi = col_double(),
  age = col_double(),
  bmc = col_double(),
  bmd = col_double(),
  fat = col_double(),
  lean = col_double(),
  pcfat = col_double()
)

[1] "data.frame"

In [6]:
print(head(data))

  id gender height weight  bmi age  bmc  bmd   fat  lean pcfat
1  1      F    150     49 21.8  53 1312 0.88 17802 28600  37.3
2  2      M    165     52 19.1  65 1309 0.84  8381 40229  16.8
3  3      F    157     57 23.1  64 1230 0.84 19221 36057  34.0
4  4      F    156     53 21.8  56 1171 0.80 17472 33094  33.8
5  5      M    160     51 19.9  54 1681 0.98  7336 40621  14.8
6  6      F    153     47 20.1  52 1358 0.91 14904 30068  32.2

In [7]:
data1 = select(data, c(gender, height, weight, bmi, age))

In [9]:
head(data1)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [12]:
data2 = filter(data1, 18.5 <= bmi, bmi <= 24.9)
head(data2)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [20]:
nrow(data2)

[1] 865

In [17]:
data1 = mutate(data1, height_m = height/100)
head(data1)

  gender height weight bmi  age height_m
1 F      150    49     21.8 53  1.50
2 M      165    52     19.1 65  1.65
3 F      157    57     23.1 64  1.57
4 F      156    53     21.8 56  1.56
5 M      160    51     19.9 54  1.60
6 F      153    47     20.1 52  1.53

In [15]:
head(arrange(data1, bmi))

  gender height weight bmi  age height_m
1 M      162    38     14.5 55  1.62
2 F      162    40     15.2 54  1.62
3 F      151    35     15.4 33  1.51
4 F      155    37     15.4 44  1.55
5 F      150    35     15.6 24  1.50
6 M      169    45     15.8 50  1.69

In [21]:
summarise(group_by(data1, gender), 
         count = n(),
         mean.height = mean(height, na.rm = T),
         mean.weight = mean(weight, na.rm = T)
         )

  gender count mean.height mean.weight
1 F      862   153.2912    52.31090
2 M      355   165.0592    62.02254

In [22]:
count(data1, gender)

  gender n
1 F      862
2 M      355

In [24]:
head(count(data1, age))

  age n
1 13   1
2 14   4
3 16   3
4 17   3
5 18  21
6 19  47

In [39]:
group_gender_age = count(data1, gender, age)
head(group_gender_age)

  gender age n
1 F      14   4
2 F      16   2
3 F      18  10
4 F      19  27
5 F      20  13
6 F      21   8

In [40]:
tail(group_gender_age)

    gender age n
138 M      82  1
139 M      83  1
140 M      84  3
141 M      85  1
142 M      87  1
143 M      88  1

In [37]:
data3 = data %>% sample_n(10)

In [38]:
data3

   id   gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1   451 M      173    66     22.1 24  2274 1.14 16114 47088 24.6
2    65 F      150    60     26.7 79  1487 0.89 22229 35464 37.6
3   515 F      150    45     20.0 31  1798 1.15 14207 28587 31.9
4   133 F      150    44     19.6 42  1379 0.92 13838 28338 31.8
5   554 F      147    60     27.8 70  1308 0.97 17632 25692 39.5
6  1186 F      159    56     22.2 56  2205 1.17 19849 33942 35.4
7   672 F      157    50     20.3 46  2043 1.15 15529 32283 31.1
8   429 M      165    68     25.0 81  1831 1.07 20185 45621 29.8
9  1203 F      152    40     17.3 85   819 0.74 10903 25230 29.5
10  895 M      164    64     23.8 21  2007 1.03 13466 46835 21.6

In [36]:
data4 = sample_frac(data, 0.01)
data4

   id   gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1    52 F      158    56     22.4 52  1554 0.96 17414 35947 31.7
2  1214 F      154    54     22.8 22  1757 1.02 17759 33016 33.8
3    68 F      152    63     27.3 24  1616 0.99 28520 33418 44.9
4  1113 F      153    58     24.8 47  1978 1.19 18102 35925 32.3
5   457 F      159    49     19.4 38  1888 1.08 11183 34705 23.4
6  1024 F      165    62     22.8 18  1848 0.98 20296 38610 33.4
7   371 F      153    45     19.2 42  1381 0.94 15447 27820 34.6
8  1124 M      156    55     22.6 62  1571 1.02 13593 35380 26.9
9   451 M      173    66     22.1 24  2274 1.14 16114 47088 24.6
10  717 M      165    60     22.0 34  2018 1.05 11604 43594 20.3
11  636 F      159    68     26.9 47  1956 1.05 26846 39237 39.5
12  490 F      155    50     20.8 21  1657 1.02 14601 29752 31.7