In [1]:
install.packages("tidyverse")

Installing package into 'C:/Users/nqhuy/OneDrive/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\nqhuy\AppData\Local\Temp\RtmpiKaJof\downloaded_packages

In [ ]:
library(tidyverse)

In [3]:
install.packages('httpuv')

Installing package into 'C:/Users/melis/OneDrive/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'httpuv' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\melis\AppData\Local\Temp\RtmpmUOww0\downloaded_packages

In [4]:
pokemon =read.csv("pokemon.csv")
head(pokemon)

  X. Name                  Type.1 Type.2 Total HP Attack Defense Sp..Atk
1 1  Bulbasaur             Grass  Poison 318   45  49     49      65
2 2  Ivysaur               Grass  Poison 405   60  62     63      80
3 3  Venusaur              Grass  Poison 525   80  82     83     100
4 3  VenusaurMega Venusaur Grass  Poison 625   80 100    123     122
5 4  Charmander            Fire          309   39  52     43      60
6 5  Charmeleon            Fire          405   58  64     58      80
  Sp..Def Speed Generation Legendary
1  65     45    1          False
2  80     60    1          False
3 100     80    1          False
4 120     80    1          False
5  50     65    1          False
6  65     80    1          False

In [5]:
summary(pokemon)

       X.            Name              Type.1             Type.2
 Min.   :  1.0   Length:800         Length:800         Length:800
 1st Qu.:184.8   Class :character   Class :character   Class :character
 Median :364.5   Mode  :character   Mode  :character   Mode  :character
 Mean   :362.8
 3rd Qu.:539.2
 Max.   :721.0
     Total             HP             Attack       Defense
 Min.   :180.0   Min.   :  1.00   Min.   :  5   Min.   :  5.00
 1st Qu.:330.0   1st Qu.: 50.00   1st Qu.: 55   1st Qu.: 50.00
 Median :450.0   Median : 65.00   Median : 75   Median : 70.00
 Mean   :435.1   Mean   : 69.26   Mean   : 79   Mean   : 73.84
 3rd Qu.:515.0   3rd Qu.: 80.00   3rd Qu.:100   3rd Qu.: 90.00
 Max.   :780.0   Max.   :255.00   Max.   :190   Max.   :230.00
    Sp..Atk          Sp..Def          Speed          Generation
 Min.   : 10.00   Min.   : 20.0   Min.   :  5.00   Min.   :1.000
 1st Qu.: 49.75   1st Qu.: 50.0   1st Qu.: 45.00   1st Qu.:2.000
 Median : 65.00   Median : 70.0   Median : 65.00   Median :3.000
 Mean   : 72.82   Mean   : 71.9   Mean   : 68.28   Mean   :3.324
 3rd Qu.: 95.00   3rd Qu.: 90.0   3rd Qu.: 90.00   3rd Qu.:5.000
 Max.   :194.00   Max.   :230.0   Max.   :180.00   Max.   :6.000
  Legendary
 Length:800
 Class :character
 Mode  :character

In [6]:
# Cú pháp:
# function_name(dataframe, conditions)
# Hoặc dataframe %>% function_name(conditions)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [7]:
pokemon <-read.csv('pokemon.csv')

In [9]:
head(pokemon)

  X. Name                  Type.1 Type.2 Total HP Attack Defense Sp..Atk
1 1  Bulbasaur             Grass  Poison 318   45  49     49      65
2 2  Ivysaur               Grass  Poison 405   60  62     63      80
3 3  Venusaur              Grass  Poison 525   80  82     83     100
4 3  VenusaurMega Venusaur Grass  Poison 625   80 100    123     122
5 4  Charmander            Fire          309   39  52     43      60
6 5  Charmeleon            Fire          405   58  64     58      80
  Sp..Def Speed Generation Legendary
1  65     45    1          False
2  80     60    1          False
3 100     80    1          False
4 120     80    1          False
5  50     65    1          False
6  65     80    1          False

In [10]:
# function: select()
# select(dataframe, danh_sach_ten_or_index_cot)
# Ví dụ:
pokemon_sub = select(pokemon, c(2,5,7,8))

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [11]:
head(pokemon_sub)

  Name                  Total Attack Defense
1 Bulbasaur             318    49     49
2 Ivysaur               405    62     63
3 Venusaur              525    82     83
4 VenusaurMega Venusaur 625   100    123
5 Charmander            309    52     43
6 Charmeleon            405    64     58

In [13]:
# dataframe %>%
# select(danh_sach_ten_or_index_cot)
pokemon_sub = pokemon %>% select(Name, Total, Attack, Defense)
head(pokemon_sub)

  Name                  Total Attack Defense
1 Bulbasaur             318    49     49
2 Ivysaur               405    62     63
3 Venusaur              525    82     83
4 VenusaurMega Venusaur 625   100    123
5 Charmander            309    52     43
6 Charmeleon            405    64     58

In [14]:
#select_if(): chọn cột có điều kiện
#select_if (dataframe, conditions)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [15]:
# Ví dụ:
pokemon_numbers = select_if(pokemon, is.numeric)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [16]:
head(pokemon_numbers)

  X. Total HP Attack Defense Sp..Atk Sp..Def Speed Generation
1 1  318   45  49     49      65      65     45    1
2 2  405   60  62     63      80      80     60    1
3 3  525   80  82     83     100     100     80    1
4 3  625   80 100    123     122     120     80    1
5 4  309   39  52     43      60      50     65    1
6 5  405   58  64     58      80      65     80    1

In [17]:
# Filter(): chọn dòng
# filter(dataframe, conditions) hoặc dataframe % >% filer(condtions)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [19]:
# Ví dụ:
pokemon_500_600 = filter(pokemon_sub, Total >=500, Total <=600)
head(pokemon_500_600)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  Name                Total Attack Defense
1 Venusaur            525    82     83
2 Charizard           534    84     78
3 Blastoise           530    83    100
4 PidgeotMega Pidgeot 579    80     80
5 Nidoqueen           505    92     87
6 Nidoking            505   102     77

In [20]:
# Hàm mutate (): tạo cột mới
# mutate (dataframe, conditions) hoặc dataframe %>% mutate(condtions)
# Ví dụ:
# Compare: if Attack > Defense => =1 else = 0
pokemon_sub = mutate(pokemon_sub, Compare = ifelse(Attack > Defense, 1,0))

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [21]:
head(pokemon_sub)

  Name                  Total Attack Defense Compare
1 Bulbasaur             318    49     49     0
2 Ivysaur               405    62     63     0
3 Venusaur              525    82     83     0
4 VenusaurMega Venusaur 625   100    123     0
5 Charmander            309    52     43     1
6 Charmeleon            405    64     58     1

In [22]:
# Hàm arrange(): sắp xếp dữ liệu
# arrange(dataframe, conditions) hoặc dataframe %>% arrange(conditions)
# Ví dụ: 
head(arrange(pokemon_sub, Total))

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  Name      Total Attack Defense Compare
1 Sunkern   180   30     30      0
2 Azurill   190   20     40      0
3 Kricketot 194   25     41      0
4 Caterpie  195   30     35      0
5 Weedle    195   35     30      1
6 Wurmple   195   45     35      1

In [23]:
head(arrange(pokemon_sub, desc(Total)))

  Name                  Total Attack Defense Compare
1 MewtwoMega Mewtwo X   780   190    100     1
2 MewtwoMega Mewtwo Y   780   150     70     1
3 RayquazaMega Rayquaza 780   180    100     1
4 KyogrePrimal Kyogre   770   150     90     1
5 GroudonPrimal Groudon 770   180    160     1
6 Arceus                720   120    120     0

In [24]:
head(arrange(pokemon_sub, desc(Total), desc(Attack)))

  Name                  Total Attack Defense Compare
1 MewtwoMega Mewtwo X   780   190    100     1
2 RayquazaMega Rayquaza 780   180    100     1
3 MewtwoMega Mewtwo Y   780   150     70     1
4 GroudonPrimal Groudon 770   180    160     1
5 KyogrePrimal Kyogre   770   150     90     1
6 Arceus                720   120    120     0

In [25]:
#Summarize(), group_by(): thống kê dữ liệu theo nhóm

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [26]:
group = group_by(pokemon, Type.1)
summary_Type1 = summarize(group, 
                         count = n(),
                         mean.Attack = mean(Attack, na.rm = T),
                         median.Attack = median(Attack, na.rm = T),
                         mean.Defense = mean(Defense, na.rm = T),
                         median.Defense = median(Defense, na.rm = T),
                         )

In [29]:
summary_Type1

   Type.1   count mean.Attack median.Attack mean.Defense median.Defense
1  Bug       69    70.97101    65.0          70.72464     60.0
2  Dark      31    88.38710    88.0          70.22581     70.0
3  Dragon    32   112.12500   113.5          86.37500     90.0
4  Electric  44    69.09091    65.0          66.29545     65.0
5  Fairy     17    61.52941    52.0          65.70588     66.0
6  Fighting  27    96.77778   100.0          65.92593     70.0
7  Fire      52    84.76923    84.5          67.76923     64.0
8  Flying     4    78.75000    85.0          66.25000     75.0
9  Ghost     32    73.78125    66.0          81.18750     72.5
10 Grass     70    73.21429    70.0          70.80000     66.0
11 Ground    32    95.75000    85.0          84.84375     84.5
12 Ice       24    72.75000    67.0          71.41667     75.0
13 Normal    98    73.46939    70.5          59.84694     60.0
14 Poison    28    74.67857    74.0          68.82143     67.0
15 Psychic   57    71.45614    57.0          67.68421     65.0
16 Rock      44    92.86364    95.0         100.79545    100.0
17 Steel     27    92.70370    89.0         126.37037    120.0
18 Water    112    74.15179    72.0          72.94643     70.0

In [30]:
# Function Count: đếm tần số xuất hiện
# count(dataframe, columns) hoặc dataframe %>% count(columns)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [31]:
count(pokemon, Type.1)

   Type.1   n
1  Bug       69
2  Dark      31
3  Dragon    32
4  Electric  44
5  Fairy     17
6  Fighting  27
7  Fire      52
8  Flying     4
9  Ghost     32
10 Grass     70
11 Ground    32
12 Ice       24
13 Normal    98
14 Poison    28
15 Psychic   57
16 Rock      44
17 Steel     27
18 Water    112

In [32]:
# function sample_n(): chọn n mẫu ngẫu nhiên
# sameple_n(dataframe, n) hoặc dataframe %>% sample_n(n)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [33]:
# Ví dụ:
pokemon%>%sample_n(5)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

  X.  Name                  Type.1 Type.2  Total HP  Attack Defense Sp..Atk
1 548 Petilil               Grass          280    45  35     50      70
2 445 GarchompMega Garchomp Dragon Ground  700   108 170    115     120
3  80 Slowbro               Water  Psychic 490    95  75    110     100
4 421 Cherrim               Grass          450    70  60     70      87
5 184 Azumarill             Water  Fairy   420   100  50     80      60
  Sp..Def Speed Generation Legendary
1 50      30    5          False
2 95      92    4          False
3 80      30    1          False
4 78      85    4          False
5 80      50    2          False

In [34]:
#sample_frac(): chọn n% mẫu ngẫu nhiên
# sample_frac(dataframe, n) hoặc dataframe %>% sample_frac(n)

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [37]:
# Ví dụ:
sub_5_per = pokemon %>% sample_frac(0.05) # 5 percentages

Your code contains a unicode char which cannot be displayed in your
current locale and R will silently convert it to an escaped form when the
R kernel executes this code. This can lead to subtle errors if you use
such chars to do comparisons. For more information, please see
https://github.com/IRkernel/repr/wiki/Problems-with-unicode-on-windows

In [38]:
dim(sub_5_per)

[1] 40 13